@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";
@import "navbar";
@import "footer";

body {
  padding-top: 74px;
}

#body-wrap {
  height:             100%;
  min-height:         800px;
  padding-bottom:     0px;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font !important;
}

#grey-bg {
  background-color: #F8F8F8;
}
.padded {
  padding-top:    2em;
  padding-bottom: 2em;
}

.padding-top {
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 2em;
}

.color-info {
  color: $brand-info !important;
}
