@import "variables";
@import "bootstrap";
@import "home";
@import "navbar";
@import "footer";

body {
  padding-top: 74px;
}

#body-wrap {
  height:             100%;
  min-height:         800px;
  padding-bottom:     0px;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font !important;
}

.padded {
  padding-top:    2em;
  padding-bottom: 2em;
}

.padding-top {
  padding-top: 2em;
}

.padding-bottom {
  padding-bottom: 2em;
}
