<footer class="footer">
  <div class="container padded">
    <div class="row">
      <div class="col-sm-3">
        <p>&copy; Le Kavo 2021 </p>
      </div>
      <div class="col-sm-3">
        <p><a href="">Mentions Légales</a></p>
        <p><a href="">CGU</a></p>
        <p><a href="">CGV</a></p>
      </div>
      <div class="col-sm-3">
        <p><a href="">Mentions Légales</a></p>
        <p><a href="">CGU</a></p>
        <p><a href="">CGV</a></p>
      </div>
      <div class="col-sm-3">
        <h5>Nous suivre</h5>
        <div class="share-links padding-top">
          <a href="" class="share-links-item">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="share-links-item">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="share-links-item">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <a href="mailto:hello@lekavo.com">hello@lekavo.com</a>
      </div>
    </div>
  </div>
</footer>
