<footer class="footer">
  <div class="container padded">
    <div class="row">
      <div class="col-sm-4">
        <div class="share-links">
          <a href="https://www.facebook.com/lekavofr/" class="item">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/lekavofr/" class="item">
            <i class="fa fa-instagram"></i>
          </a>
          <!-- <a href="" class="item">
            <i class="fa fa-twitter"></i>
          </a> -->
        </div>
      </div>
      <div class="col-sm-4">
        <p>&copy; Le Kavo 2021 </p>
      </div>
      <div class="col-sm-4">
        <h5>Contact</h5>
        <!-- <div class="share-links padding-top">
          <a href="" class="share-links-item">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="share-links-item">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="share-links-item">
            <i class="fab fa-twitter"></i>
          </a>
        </div> -->
        <a href="mailto:hello@lekavo.com">hello@lekavo.com</a>
      </div>
    </div>
  </div>
</footer>
