<div class="home-banner">
  <div class="container text-center">
    <%= image_tag("lekavo-logo-nav.png") %>
  </div>
</div>

<div class="container">
  <div class="row text-center padded">
    <h2>Une vente éphémère de vin par semaine</h2>
    <h3>Tous les domaines viticoles sont sélectionnés avec soin</h3>
    <h3>Obtenez au minimum le prix domaine caveau</h3>
    <h3>Rdv tous les lundis à 10h</h3>
  </div>
</div>


<div class="container">
  <div class="row text-center padded">
    <h2>Une vente éphémère de vin par semaine</h2>
    <h3>Tous les domaines viticoles sont sélectionnés avec soin</h3>
    <h3>Obtener au minimum le prix domaine caveau</h3>
    <h3>Rdv tous les lundis à 10h</h3>
  </div>
</div>
