<div class="home-banner">
  <div class="container text-center">
    <%= image_tag("lekavo-logo-nav.png") %>
  </div>
</div>

<div class="container">
  <div class="row text-center padded">
    <h2><span class="color-info">I. </span> Une vente éphémère de vin par semaine</h2>
    <h3><span class="color-info">II. </span>Grands domaines viticoles sont sélectionnés avec soin</h3>
    <h3><span class="color-info">III. </span>Obtenez au minimum le prix domaine caveau</h3>
    <h3><span class="color-info">IV. </span>Rdv tous les lundis à 10h</h3>
  </div>
</div>

<div id="grey-bg">
  <div class="container">
    <div class="row text-center padded">
      <h2>Le Kavo va bientôt lancer ses premières ventes</h2>
      <iframe width="540" height="305" src="https://1724a210.sibforms.com/serve/MUIEALrOj-UoDMD6uv1VLyEVtI2LQ5KK94QUOyYKUGCRiV--H2PJpICx2vxCpbYBDcUwqvW_l4jnObzooIvU3ftlXjj23PB7PbckpDeQh31JN_ScEBb5wrwyQo_UpcqigoIjd5VFcHcfAPqkc7peqm1VAnO4Yy1AMPp3ZGz63KOYWrnhiPtsMZJeai_m3vUcz0LfMOUQ4YJR8Yhc" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
    </div>
  </div>
</div>
