<div class="home-banner">
  <div class="container text-center">
    <%= image_tag("logo-kavo-home.png") %>
  </div>
</div>
<div class="container">
  <div class="row text-center padded">
    <div class="col-md-3">
      <h3><span class="color-info">1</h3>
      <h3>Ventes éphémères de vins</h3>
    </div>
    <div class="col-md-3">
      <h3><span class="color-info">2</span></h3>
      <h3>Grands vins à prix domaine</h3>
    </div>
    <div class="col-md-3">
      <h3><span class="color-info">3</span></h3>
      <h3>Un domaine par semaine</h3>
    </div>
    <div class="col-md-3">
      <h3><span class="color-info">4</span></h3>
      <h3>Rdv tous les lundis à 10h</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="line"></div>
  </div>
</div>
<div class="container">
  <div class="row text-center padded">
    <h2>Site web en construction - restez informé!</h2>
    <iframe width="540" height="305" src="https://1724a210.sibforms.com/serve/MUIEAAGnkZ0jw458CZCo9XJgqGd98FnZpObQS4mPas74_4s6L6Y1KIipGeaAiNmfVz7DQKvA1lIas2UeKhC3m3TCOt4Pbs9WKovgq_w-QwCctM1YewRsOzzBcZl4Dg4QoL1-BsqPQcNMlFSW-iYGnCscnHGAHEbhLaMSWwbvDPTYLAJA2dygRZXR4jhvB945hW7g124yUf9SrhPr" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
  </div>
</div>
